[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.7b0"
isort = "*"
autoflake = "*"
pylint = "*"
ipython = "*"

[packages]
pandas = ">=1.3.5,<1.4"
typer = ">=0.4,<0.5"
pytest = ">=6.2,<6.3"
spacy = ">=3.2,<3.3"
requests = ">=2.26,<3"
beautifulsoup4 = ">=4.10,<5"
urlextract = ">=1.4,<1.5"
gensim = ">=4,<5"
tqdm = ">=4.62,<5"
top2vec = ">=1.0.26,<1.1"
hdbscan = {git = "https://github.com/scikit-learn-contrib/hdbscan"}

[requires]
python_version = "3"

[scripts]
beautify = "bash -c \"autoflake -i -r --expand-star-imports --remove-all-unused-imports --remove-duplicate-keys --remove-unused-variables *.py **/*.py; isort *.py **/*.py; black *.py **/*.py\""
lint = "bash -c \"pylint *.py **/*.py\""
